<?xml version="1.0"?>
<!--XML-->
<launch>
    <!-- SETUP ARGUMENTS -->
    <!-- enable/disable rviz -->
    <arg name="rviz" default="false" />
    <!-- enable/disable calibration -->
    <arg name="calibrate" default="false"/>
    <arg name="split_laser" default="true"/>
    <arg name="stereo_match" default="true"/>
    
    <arg name="camera_name" default="phobos_nuclear"/>

    <!-- SETUP ROBOT MODEL -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_description.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="rviz" value="false"/>
    </include>
    
    <!-- STEREO CAPTURE -->
    <include file="$(find i3dr_stereo_camera)/launch/stereo_capture.launch">
        <!-- 0=TIS, 1=Basler -->
        <arg name="cameratype" value="1"/>
        <arg name="camera_namespace" value="$(arg camera_name)"/>
        <!-- Be sure to change this to your cameras serials -->
        <!--
        <arg name="camera_right_serial" value="31710277"/>
        <arg name="camera_left_serial" value="31710260"/>
        -->
        <arg name="camera_right_serial" value="phobos_nuclear_r"/>
        <arg name="camera_left_serial" value="phobos_nuclear_l"/>
        <arg name="exposure" value="80000"/>
        <arg name="gain" value="0"/>
        <arg name="fps" value="1"/>
        <arg name="split_laser" value="$(arg split_laser)"/>

        <arg name="camera_info_right" value="file://$(find iind_calibration)/calibration/phobos_nuclear/2019-08-29-I3DR/phobos_nuclear_right.yaml" />
        <arg name="camera_info_left" value="file://$(find iind_calibration)/calibration/phobos_nuclear/2019-08-29-I3DR/phobos_nuclear_left.yaml" />
    </include>

    <!-- STEREO CALIBRATION -->
    <include if="$(arg calibrate)" file="$(find i3dr_stereo_camera)/launch/stereo_calibration.launch">
        <arg name="split_laser" value="$(arg split_laser)"/>
        <arg name="camera_namespace" value="$(arg camera_name)"/>
    </include>

    <!-- STEREO MATCHER -->
    <include if="$(arg stereo_match)" file="$(find i3dr_stereo_camera)/launch/stereo_matcher.launch">
        <arg name="use_i3dr_matcher" value="true"/>

        <!-- enable/disable gui for stereo matching parameters -->
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="camera_namespace" value="$(arg camera_name)"/>
        <arg name="split_laser" value="$(arg split_laser)"/>
        <arg name="gui" value="true"/>
        <arg name="stereo_algorithm" value="0" />
        <arg name="min_disparity" value="0" />
        <arg name="disparity_range" value="128" />
        <arg name="correlation_window_size" value="21" />
        <arg name="uniqueness_ratio" value="6" />
        <arg name="speckle_range" value="4" />
        <arg name="speckle_size" value="1000" />
        <arg name="interp" value="false" />
    </include>
    
    <group if="$(arg split_laser)">
        <!-- Rectify no laser images that aren't used to generate 3D (so rectifiy isn't created) -->
        <node pkg="image_proc" type="image_proc" ns="$(arg camera_name)/right" name="rectify_non_laser_right" output="screen">
            <remap from="image_raw" to="image_raw_no_laser"/>

            <remap from="image_color" to="image_color_no_laser"/>
            <remap from="image_mono" to="image_mono_no_laser"/>
            <remap from="image_rect" to="image_rect_no_laser"/>
            <remap from="image_rect_color" to="image_rect_color_no_laser"/>
        </node>
        <node pkg="image_proc" type="image_proc" ns="$(arg camera_name)/left" name="rectify_non_laser_left" output="screen">
            <remap from="image_raw" to="image_raw_no_laser"/>

            <remap from="image_color" to="image_color_no_laser"/>
            <remap from="image_mono" to="image_mono_no_laser"/>
            <remap from="image_rect" to="image_rect_no_laser"/>
            <remap from="image_rect_color" to="image_rect_color_no_laser"/>
        </node>
    </group>

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rivz" 
        args="-d $(find i3dr_phobos_nuclear)/rviz/scene.rviz"/>

</launch>
